.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;

}

.loginLeft{
    flex:1;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: rgb(59, 59, 231);
    margin-bottom: 10px;
}

.loginDesc{
font-size: 20px;
font-weight: 600;
color: rgb(59, 59, 231);
}

.loginRight{
    flex: 1;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.loginBoxInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 16px;
    padding-left: 20px;
}

.loginBoxInput:focus {
    outline: none;
}

.loginButton{
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px
}



.forgotPassword{
    cursor: pointer;
    text-align: center;
    color: #1775ee;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.loginRegisterButton{
    width: 80%;
    align-self: center;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
}